.container-skills {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "python-container java-container Dart-container"
    "Flutter-container Cpp-container arduinoc-container"
    "html-container CSS-container Figma-container";
}
/* TODO: add button styling */
.python-container {
  grid-area: python-container;
}

.java-container {
  grid-area: java-container;
}

.Dart-container {
  grid-area: Dart-container;
}

.Flutter-container {
  grid-area: Flutter-container;
}

.Cpp-container {
  grid-area: Cpp-container;
}

.arduinoc-container {
  grid-area: arduinoc-container;
}

.html-container {
  grid-area: html-container;
}

.CSS-container {
  grid-area: CSS-container;
}

.Figma-container {
  grid-area: Figma-container;
}
/* TODO: make style the buttons */
