/* 
! USE ONLY RELATIVE UNITS OF MEASURE!
TODO: Make the padding and margins use relative units of measure.
*/

html {
  scroll-behavior: smooth;
}

.body {
  font-family: "Be Vietnam", sans-serif;
  margin: 0%;
  padding: 0%;
  background-color: #ffddca;
}

hr {
  border-top: 1vh dotted rgb(255, 255, 255);
  border-bottom: none;
  opacity: 50%;
  margin: 0%;
}

h1 {
  text-align: center;
  font-weight: bolder;
  padding: 0%;
  margin: 0%;
}

h2 {
  font-size: 2.25vw;
  font-weight: 600;
}

p {
  font-size: 1.5vw;
  font-weight: 300;
}
a {
  text-decoration: none;
  color: #4a4a4a;
}

h1,
h2,
h3,
p {
  color: #4a4a4a;
}

#title-textl2,
#title-textl1 {
  font-size: 6vw;
}

.home-page,
.about-page,
.education-skills-page,
.experience-proj-page,
.contact-page {
  padding-left: 15vw;
  padding-right: 15vw;
}

/* * For the nav bar. */

nav {
  position: fixed;
  top: 0%;
  width: 100vw;
  display: flex;
  background-color: #ffddca;
  flex-direction: row;
  justify-content: space-evenly;
  z-index: 500;
  box-shadow: 0px 10px 20px #a1a1a15d;
}

/* !Starting the css by pages */

/* *For the home page */

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#title-pagel1,
#title-pagel2 {
  font-size: 8vw;
}

/* TODO: Make the the width of the h3 text box into the width of the title */
h3 {
  font-size: 1.75vw;
  font-weight: 300;
  margin-left: 8vw;
  margin-right: 8vw;
  text-align: center;
}

/* *For the about page */

.about-page {
  margin-top: 7.5vh;
  margin-bottom: 15vh;
}

/* *For the education and skills page */

/* *For the projects page */

/* *For the contact me page */

.contact-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.link-divs {
  text-align: center;
}

a:hover {
  transition: 1s;
  text-decoration: underline;
}
